<% include layouts/header %>
    
    <div class="ui main text container segment">
        <div class="ui huge header"><%= blog.title %></div>
        <div class="ui top attached">
            <div class="item">
                <img src="<%= blog.image %>" class="ui centered rounded image">    
            </div>
            <div class="item">
                Content created at <%= blog.created.toDateString() %>                
            </div>
            <div class="item">
                <%- blog.content %>    
            </div>
        </div>
        <div class="item button-container">
            <a href="/blogs/<%=blog._id%>/edit" class="ui button primary left-button">Edit</a>
            <a href="/blogs" class="ui button teal left-button">Back</a>
            <form method="POST" action="/blogs/<%=blog._id%>?_method=DELETE">
                <button class="ui button red right-button">Delete</button>                
            </form>
        </div>
    </div>
    
<% include layouts/footer %>